body{
    background-color: #999;
    background-image: url('../img/3642099851_d24a5edc27.jpg');
    font-family: Verdana;
}
hr{
    margin:0;
}
#container{
    background-color: #6c6c6c;
    width: 930px;
    margin: auto;
}

#header{
    height: 64px;
    border: 10px solid #c6c6c6;
}
#logo{
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    float: left;
    width: 212px;
    height: 60px;
}
#nav{
    margin-left: 5px;
    float: left;
    height: 60px;
    width: 618px;
}
#nav li{
    display: inline;
    min-width: 50px;
    padding-right: 5px;
}
#nav a:visited,
#nav a{
    text-decoration: none;
    text-align: center;
    background-color: #6c6c6c;
    color: #ffffff;
}
#nav a:hover{
    color: #666;
}
#nav a.active{
    background-color: #c6c6c6;
    border: 6px solid #c6c6c6;
    border-radius: 0 0 6px 6px;
    color: #666;
}
.principal_menu{
    position: relative;
    bottom: 0;
    padding-top: 0px;
}
#content{
    height: 450px;
}
#contenido{
    float:left;
    width: 775px;
}
#contenido ul{
    margin: 0;
}
#contenido li{
    background-color: #CCCCCC;
    border: 1px solid #EEEEEE;
    display: block;
    float: left;
    margin-left: 10px;
    padding-left: 0;
    width: 350px;
}
#footer{
    height: 60px;
    border: 10px solid #c6c6c6;
}
.logindiv{
    /*display: none;*/ 
    background-color: #C8C8C8;
    margin: auto;
    padding: 5px;
    width: 300px;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
}
.logindiv input{
    width:200px;
}
.absoluted{
    position: absolute;
}
