{% extends 'layout_generic.html.twig' %}

{% block body %}
    <h1>Ups! Página no encontrada</h1>
    <div>
        <p>La página a la que está intentando acceder no existe.</p>
        <p>Error: {{ error }}</p>
        <p>Archivo: {{ file }}</p>
        <p>Linea: {{ linea }}</p>
        <p>Código: {{ code }}</p>
        <p>Traza: </p>
        <table>
            <tr><td>archivo</td><td>linea</td></tr>
            {% for linea in trace %}
                <tr>
                    <td>{{ linea.file }}</td>
                    <td>{{ linea.line }}</td>
                </tr>
            {% endfor %}
        </table>
        <p><a href="{{ urlFor('homepage') }}" title="Inicio">Inicio</a></p>
    </div>    
{% endblock body %}