<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ES" lang="ES" xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta name="language" content="es" />        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

    {#<meta name="robots" content="INDEX, FOLLOW, noodp" />#}
    <title>{% block titulo %}titulo de la web{% endblock %}</title>
    <meta name="title" content="{{ block('titulo') }}" />

    <link href="{{ asset('css/reset.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/estilos.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/le-frog/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}

        {% endblock stylesheets %}
    <link rel="shortcut icon" href="/favicon.gif" />
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
   
        {% block javascripts %}{% endblock javascripts %}
    </head>
    <body>    
        <span style="position:absolute;" id="alive"></span> 
        <div id="container">
            <div id="header">
                <div id="logo">
                    <a title="{{ block('titulo') }}" href="{{ urlFor('homepage') }}" ><img src="/logo.png" /></a>                    
                </div>
                <div id="nav">
                            {% block menuPrincipal %}
                                {% include 'menu_principal.html.twig' with {'section': 'inicio'} %}                    
                            {% endblock menuPrincipal %}
                </div>
            </div>
            <hr/>
            
            {% set error = flash_('error') %}
            {% if (error) %}
                <div class="error">
                    Error:&nbsp;{{ error|raw }}
                </div>
            {% endif %}
            
            <div id="content">                                
                {% block body %}
                    This project is sustained at 
                    <a href="https://bitbucket.org/jlaso/m4us">bitbucket</a>
                {% endblock body %}
            </div>
                
            <div id="footer">
                <hr/>
                {% block footer %}
                Contacto: <a href="mailto:email(@)email.com">email@email.com</a>
                {% endblock footer %}
                Powered By: <a href="http://www.000webhost.com/" target="_blank"><img src="http://www.000webhost.com/images/80x15_powered.gif" alt="Web Hosting" width="80" height="15" border="0" /></a>
            </div>
        </div>
    </body>
</html>
