{% extends 'layout_generic.html.twig' %}

{% block menuPrincipal %}
    {% include 'menu_principal.html.twig' with {'section': 'login'} %}                    
{% endblock menuPrincipal %}

{% block loginsidebar %}{% endblock %}

{% block body %}
<div class="section_generic">
    <div class="generic_content admin_content">
        <h1>Login de usuario</h1>
        
        {% block content %}
        <h2>{% if callback %}Esta parte ({{ callback }}) requiere {% endif %}autenticación de usuario</h2>
      
        <div class="logindiv">
            <div>
                <h3 style="text-align:center;">Login</h3>
            {% if flash['error'] %}
                <div class="error">
                    Error:&nbsp;{{ flash['error'] }}
                </div>
            {% endif %}
            {% if (isLoged()==1) %}
                <p style="text-align:center;">
                {{ logInOut(section=='login'?'active':'',"login") | raw }}
                </p>
            {% else %}
                    <form method="post" action="{{ urlFor('do_login') }}">
                        <input type="hidden" name="callback" value="{{ callback }}"/>
                        <p>Usuario...:<input type="text" name="user" value="{{ user }}"/></p>
                        <p>Password:<input type="password" name="pass"/></p>
                        <p style="text-align:center;"><input type="submit" name="Login" value="login"/></p>
                        {#<p style="text-align:center;"><a href="{{ urlFor('registro') }}">A&uacute;n no estoy registrado</a></p>
                        <p style="text-align:center;"><a href="{{ urlFor('recuperar_pass') }}">Recuperar contrase&ntilde;a</a></p>#}
                    </form>               
            {% endif %}
            </div>

        {% endblock content %}
        </div>
    </div>
</div>
{% endblock body %}