
<ul class="principal_menu">
   <li>
        <a title="home" class="{{ section == 'inicio'?'active':'' }}" href ="{{ urlFor('homepage') }}">
            home
        </a>
   </li>
   <li>     
        {{ logInOut(section=='login'?'active':'',"login") | raw }}
   </li>
  
   {#<li>
       <a title="temasclase" class="{{ section == 'temasclase'?'active':'' }}" href="{{ urlFor('temasclase') }}">Temas de clase</a>
   </li>#}
   {% if (isLoged() == 1) %}
       <li>
           <a title="Mi perfil" class="{{ section == 'miperfil'?'active':'' }}" href="{#{ urlFor('edit_usuario') }#}">Mi perfil</a>
       </li>
   {% endif %}
</ul>
          