{% extends 'layout_generic.html.twig' %}

{% block body %}
    <h1>Ups! Página no encontrada</h1>
    <div>
        <p>La página a la que está intentando acceder no existe.</p>
        <p><a href="{{ urlFor('homepage') }}" title="Inicio">Inicio</a></p>
    </div>    
{% endblock body %}